pipeline/CopyParameterizedData.json
{
	"name": "CopyParameterizedData",
	"properties": {
		"description": "This pipeline will copy data from blob to target SQL DB dynamically into multiple target tables changing parameter value dynamically",
		"activities": [
			{
				"name": "GetFileAndTableName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LKPLoadPath",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileAndTableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileAndTableName').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetTableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tableName",
								"value": {
									"value": "@item().tableName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CopyFromGen2ToSQLDB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "InputBlobData",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@variables('fileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OutputSQLTable",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@variables('tableName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SetFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileName",
								"value": {
									"value": "@item().fileName",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"fileName": {
				"type": "String",
				"defaultValue": "cars.csv"
			},
			"tableName": {
				"type": "String",
				"defaultValue": "Cars"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-07-05T08:53:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}