pipeline/MigrateDataLakeToSynapseDBCopy.json
{
	"name": "MigrateDataLakeToSynapseDBCopy",
	"properties": {
		"activities": [
			{
				"name": "GetListOfCopyTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select TableName from dbo.RefLookupSQLDWTableMig where LoadType='Copy'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LKPTablesForSynapse",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachDirectCopy",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetListOfCopyTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetListOfCopyTables').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "CopyFromSQLDBToSQLDWH",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('stg_migADWorks','/',item().TableName) ",
											"type": "Expression"
										},
										"wildcardFileName": "*.*",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "IF OBJECT_ID ('[@{item().TableName}]','U') is not null DROP TABLE [@{item().TableName}];",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "MigDataLakeSTGFolder",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQLDWH",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LoadTransformedDimToSQLDW",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEachDirectCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/saikat.sengupta89.learn_gmail.com#ext#@saikatsengupta89learngmail.onmicrosoft.com/ProcessDimFromDataLakeToSynapseDWH"
				},
				"linkedServiceName": {
					"referenceName": "MyAzureDatabricksLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-07-11T09:08:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}